.SelectDrop {
  width: 300px;
  height: 300px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: -20px;
  z-index: 100;
  box-shadow: 0px 3px 6px rgb(0 0 0 / 20%);
  padding: 15px;
}
.SelectDrop .selectOpen{display: block; padding: 10px 0px;}
.SearchField input {
  width: 100%;
  height: 60px;
  border: 1px solid #bce3c9;
  outline: none;
  padding: 0px 15px;
}
.SelectDrop .SerachResults {
  width: 100%;
  margin: 0px;
  margin-top: 10px;
  padding: 10px 0px;
  max-height: 200px;
  overflow: scroll;
}
.SelectDrop .SerachResults ::-webkit-scrollbar{width: 7px !important;}
.SelectDrop .SerachResults ::-webkit-scrollbar-thumb{background-color: #ccc !important;}
.SelectDrop .SerachResults li {
  list-style: none;
  font-size: 18px;
  width: 100%;
  padding: 10px;
}
.SelectDrop .SerachResults li:hover{background: #30c48d; color:#fff;}
